.side-block {
  width: 21.875rem;
  height: calc(100vh - 3.75rem);
  background: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;

  .balance {
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 5px;

    .count {
      color: rgba(35, 51, 109, 0.85);
      font-family: Roboto, sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 66.667% */
    }

    .title {
      color: var(--character-title-85, rgba(0, 0, 0, 0.85));
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
    }
  }

  .events {
    margin-top: 324px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 18px;
    color: #3D4B7D;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;

    .active {
      text-decoration-line: underline;
    }
  }
}