.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 14px;

  .input-group {
    color: var(--character-title-85, rgba(0, 0, 0, 0.85));
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

    .p-dropdown,.p-inputtext {
      width: 370px;
    }
  }

  .buttons-group {
    display: flex;
    flex-direction: row;
    width: 370px;
    justify-content: space-between;
  }
}