.top {
  width: 100%;
  height: 3.75rem;
  background: #9997E4;
  display: flex;
  align-items: center;
  justify-content: center;

  .company-name {
    display: inline-flex;
    height: 32px;
    align-items: center;
    grid-gap: 4px;
    flex-shrink: 0;
    color: var(--character-title-85, rgba(0, 0, 0, 0.85));
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .user {
    position: absolute;
    right: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: end;
    grid-gap: 1.375rem;
  }
  .username {
    color: var(--character-title-85, rgba(0, 0, 0, 0.85));
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }
}