@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  .layout {
    display: flex;
    flex-direction: row;
    .content {
      background: #FFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: calc(100vw - 21.875rem);
    }
  }
}